block vars
  - name = name
  - tagline = tagline
  - description = ''

doctype html
html.borderbox
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='renderer', content='webkit')
    meta(name='description', content='#{ description ? description : tagline }')
    
    title=name
    
    block styles
      link(rel='stylesheet', href='/lib/typo.css/typo.css')
      link(rel='stylesheet', href='/theme/default/css/app.css')
      
  body
    block nav
      .nav.serif
        .search
          input.search-input(placeholder='搜索...')
          ul.search-complete

        a.nav-item(href='http://sofi.sh/', title=name) 
          strong Sofi.sh
        a.nav-item(href='/about') 关于
        a.nav-item(href='/sitemap') 网站地图

    block logo
      h1.container#logo=name

    block content
    
    block comments
      #comment.container
        #comment-loader.horizon.typo-small 点击显示评论
        #disqus_thread

    script(src='/theme/default/js/shim.js')
    block scripts
      script(src='/lib/es6-promise/es6-promise.min.js')
      script(src='/lib/fetch/fetch.js')
    block tracker
      //- google analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64959501-1', 'auto');
        ga('send', 'pageview');
