block vars
  - name = name;
  - tagline = tagline;
  - description = '';

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='renderer', content='webkit')
    meta(name='description', content='#{ description ? description : tagline }')
    
    title=name
    
    block styles
      link(rel='stylesheet', href='/lib/typo.css/typo.css')
      link(rel='stylesheet', href='/theme/default/app.css')
      
  body
    block title
      h1.container.title=name

    block content
    
    block comments
      #comment.container
        #comment-loader.horizon.typo-small 点击显示评论
        #disqus_thread

    a#gohome(href='http://sofi.sh/') &larr;首页
      
    script(src='/theme/default/js/shim.js')
    block scripts
    block tracker
      //- google analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64959501-1', 'auto');
        ga('send', 'pageview');
